// VARAIBLES
$color-marron: #DDAF94;
$color-marron-light: #E8CEBF;
$color-verde:  #266150;
$color-negro: #4F4846;
$color-blanco: #fdf8f5;

$color-bota1-hombre:rgb(128, 101, 15);

$fondo: linear-gradient(35deg, $color-negro, $color-marron, $color-marron-light);







