@import "_parcial";

body {
    border: 4px solid black;
    
     .grande {
         margin-top: 7rem;
     }
    //background-image: $fondo;
    //background-attachment: fixed;
    
    .carrito-producto-delete {
        border: 0;
        background-color: transparent;
        color: $color-verde;
                             }
    .card {
        background-color: $color-marron-light;
        .card-img-top {
        width: 6rem;
        }
    }
    .carrito-acciones-total {
        border-radius: 0.5rem;
        background-color: $color-marron-light;
    }
}
