@import "_parcial";

* {
    font-family: 'Libre Baskerville', serif;
}

body {
    background-image:$color-blanco;


     .grande  {
         margin-top: 7rem;
         height: auto;
         width: 100%;
      
     }
     .cantidad-producto {
        border: none;
        background-color: $color-marron-light;
     }
    .carrito-producto-delete {
        border: 0;
        background-color: transparent;
        color: $color-verde;
        margin-bottom: 2rem;
        margin-right: 2rem;
        
                             }
    .card {
        background-color: $color-marron-light;
        .card-img-top {
        width: 7rem;
        }
    }
    .carrito-acciones-total {
        border-radius: 0.5rem;
        height: 2.5rem;
        background-color: $color-marron-light;
        margin-bottom: 2rem;
    }
    .colorbtn{
        background-color: $color-verde;
    }

}
