@import "_parcial";



body {
      padding: 3rem;
      background-image: $fondo;
      background-repeat: no-repeat;
      background-size: cover;
    .contenedor {
        width: 100%;
        .caja1 {
            width:600px;
            height: 100%;
            .logo {
            } 
            .contenido{
                .Pais {
                    width: 85%;
                }
                .largo {
                    input {
                        height: 2rem;
                        width: 85%;
                        border-radius: 0.5rem;
                        border: none;
                    }
                }
                .corto {
                    width: 41.7%;
                    input {
                        width: 100%;
                        height: 2rem;
                        border-radius: 0.5rem;
                        border: none;
                        
                    }
                }
                select {
                    width: 100%;
                    height: 2rem;
                    border-radius: 0.5rem;
                }
                .pago {
                     select {
                        margin-right: 5rem;
                        width: 85%;
                     }
                }

                }
               .btn {
                background-color: $color-verde;
                width: 82%;
            }
            }
    }
        .caja2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            img {
                display: flex;
                flex-wrap: wrap;
               width: 50vh;
            }
        }
    }





