@import "_parcial";



body {
    padding: 3rem;
      background-image: $fondo;
    .contenedor {
        display: flex;
        justify-content: space-around;
        // background-color: white;
        .caja1 {
            
            .contenido{
                .nomap {
                    display: flex;
                    gap: 1.2rem;
                }
                .ciuco {
                    display: flex;
                    gap: 2rem;
                }
                
                .largo {
                    input {
                        height: 1.2rem;
                        width: 100%;
                        border-radius: 0.5rem;
                    }
                }
                .corto {
                    input {
                        height: 1.2rem;
                        border-radius: 0.5rem;
                    }
                }
                select {
                    width: 100%;
                    height: 1.8rem;
                    border-radius: 0.5rem;
                }
                
                }
                
            }
    }
        .caja2 {
            margin-top: 10rem;
        }
    }





