@import "_parcial";

body{
    background: $fondo;
    background-attachment: fixed;
}

.spiner{
    background-color: rgb(209, 132, 32);
}

.boton_comprar{
    background-color: $color-verde;
}

.boton_añadir{
    background-color: $color-verde;
}

.talla{
    background-color: $color-marron;
}



