@import "_parcial";


.factura {
    table-layout: fixed;
  }
  
  
  
  .factura > thead {
    border-top: solid 3px #000;
    border-bottom: 3px solid #000;
  }
  
  .factura > thead > tr > th:nth-child(2), .factura > tbod > tr > td:nth-child(2) {
    width: 300px;
  }
  
  .factura > thead > tr > th:nth-child(n+3) {
    text-align: right;
    
  }
  
  th {
    font-weight: 400;
  }
  
  .factura > tbody > tr > td:nth-child(n+3) {
    text-align: right;
  }
  
  // .factura > tfoot > tr > th, .factura > tfoot > tr > th:last-child {
  //   font-size: 1.5rem;
  //   text-align: right;
    
  // }

  .right {
    text-align: right;
    font-weight: 700;
  }
  
  .cond {
    border-top: solid 2px #000;
  }

  thead tr th{
    font-weight: 700;
  }

  h1 ,thead tr th{
    color: $color-verde;
  }

  .contenedor {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80vw;
    margin: 0 auto;
  
  }

  .logo img{
    width: 10vw;
    margin-right: 2rem;
  }