@import "_parcial";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


// -----------------header--------------------------



.logo {
    width: 6vw;

}

*{
    font-family: 'Libre Baskerville', serif;
}

.bandera {
    width: 1.6rem;
}

.encabezado {
    background-color: $color-verde;
    display: flex;
    flex-direction: column;
}

.encabezado-3 a{
    margin: 0 .5rem;
}

.encabezado-3 a:last-child{
    margin-right: 2rem;
}

// .contenidoBajoHeader {
//     margin-top: 8rem;
// }

.contenedor-header{
    display: flex;
    justify-content: space-between;
    width: 80vw;
    
}

.navbar-toggler-icon span{
    color: white;
}

.navbar-collapse {
    flex-grow: 0;
    
}



.iconos-header{
    display: flex;
    
}

.iconos-header i{
    margin: 0 .7rem;
}

#centrar-iconos-vertical{
    align-items: center;
}

.idiomas {
    margin-right: 0;

}


.sin-padding{
    padding: 0;
}

.en-linea {
    display: flex;
}

.margen-lados {
    margin: 0 .5rem;
}

.nav-bajo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
    justify-content: flex-end;
    

    
    #saludar-home{
        color:white; 
        font-weight: 700;
    }
}

#reloj {
    color:$color-negro; 
    font-weight: 700;
}


.menu-banderas{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 16px;
    padding-right: 0px
}

.menu-banderas .bandera{
    margin-right: .5rem;
}


// Estilos carrito

.scrollable{
    max-height: 400px;
    overflow-y: auto;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.submenu {
    position: relative;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    height: 300;
    min-width: 300px;
}

.botones-carrito{
    display: flex;
    justify-content: space-around;
}

.ir-carrito a, .vaciar-carrito a {
    text-decoration: none;
    color: $color-blanco;
    width: 50%;
}

.vaciar-carrito {
    background-color: gray;
}

.borrar-producto-home{
    background-color: rgb(177, 43, 43);
    color: white;
    font-weight: 700;
    text-decoration: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    padding: .4rem;
}

@media screen and (max-width: 640px){

    // body{
        
    // }
    // .submenu:hover #carrito{
    //     display: block;
    //     position: absolute;
    //     right:0;
    
    //     top:100%;
    //     z-index: 1;
    //     background-color: white;
    //     padding: 20px;
    //     min-height: 400px;
    //     min-width: 300px;
    // }
}




// --------Estilo carrito fin------


.ocultar-login{
    display: none;
}

.contenedor {
    width: 80vw;
    margin: 0 auto;
}


// Footer



.footer-background {
    background-color: $color-negro;
}


// Media queries


@media (max-width: 920px) {
    .logo {
        margin-left: 0;
        width: 12vw;
    }

    .ocultar{
        display: none;
    }

    .ocultar-login{
        display:inline;
        text-transform: capitalize;
    }

    .en-linea {
        display: flex;
        flex-direction: row;
    }

    .nav-bajo {
        display: flex;
        align-items: center;
        
        width: 80vw;
    }

    .encabezado {
        
        flex-direction: column;
    }
}

