@import "_parcial";





.logo {
    width: 6vw;
    margin-left: 2rem;
}

.bandera {
    width: 1.5rem;
}

.encabezado {
    background-color: $color-verde;
}

.encabezado-3 a{
    margin: 0 .5rem;
}

.encabezado-3 a:last-child{
    margin-right: 2rem;
}

// .contenidoBajoHeader {
//     margin-top: 8rem;
// }

.navbar-toggler-icon span{
    color: white;
}


.sin-padding{
    padding: 0;
}

.en-linea {
    display: flex;
}

.carousel-item img{
    height: 80vh;
}


// Media query

.ocultar-login{
    display: none;
}

.contenedor {
    width: 80vw;
    margin: 0 auto;
}

.bajo-header{
    margin-top: 3.7rem;
}

.titulo-seccion-productos{
    text-transform: uppercase;
    color: $color-verde;
}

.promocion{
    height: 50vh;
    background-color: aquamarine;
}

.footer-background {
    background-color: $color-negro;
}




@media (max-width: 920px) {
    .logo {
        margin-left: 0;
        width: 16vw;
    }

    .ocultar{
        display: none;
    }

    .ocultar-login{
        display:inline;
        text-transform: capitalize;
    }

    .en-linea {
        display: flex;
        flex-direction: row;
    }

    .carousel-item img{
        height: 35vh;
    }

    .card {
        margin-bottom: 1.5rem;
    }

    .promocion{
        height: 25vh;
        background-color: aquamarine;
    }
  }
