@import "_parcial";

*{
    font-family: 'Libre Baskerville', serif;
}


body {
    background-image: $fondo;
     .section1{
        background-image: linear-gradient(to right, rgba(253, 248, 245, 0.5)20%, rgba(232, 206, 191, 0.7)40%,rgba(221,175,148,0.8)70% , rgba(79,72,70,0.9)100%), url(../img/bilbaoZapato.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    
    .contenedor {
       .dr {
        h2 {
            color: $color-verde;
        }
       }
    }
    }
    .section2 {
        .sec2contenedor {
            
        h2,p {
            color: $color-verde;
            
        }
    }
    }
    .section3 {
        .card {
        background-color: transparent;
        }
    }

    .section4 {
        .contenedorsec3 {
            
        .numero {
            h1 {
                color: $color-marron;
                font-weight: bolder;
                font-size: xx-large;
                text-align: center;
            }
            p{
                color: $color-verde;
                font-weight: bolder;
                text-align: center;
                
            }
        }
    }

   
}
}