@import "_parcial";

body {
     .section1 {
        background-image: linear-gradient(to right, rgba(253, 248, 245, 0.5)0%, rgba(232, 206, 191, 0.7)0%,rgba(221,175,148,0.8)0% , rgba(79,72,70,0.9)100%), url(../img/bilbaoZapato.jpeg);
       height: 45rem;
        background-repeat: no-repeat;
        background-size: cover;
    .contenedor {
        margin: 0;
        padding: 0;
       .izq {
        
       }
    .intersection {
        
    }
    .card {
        height: auto;
        .card-img-top{
            border-radius: 50%;
        }
    }
    }
    }
}