@import "_parcial";

body{
    background-color: $color-blanco;

}
.form-color{
    background-color: $color-marron-light;
  }
  .colour{
    background-color: $color-verde;
  }
  .btn-color{
    background-color: $color-verde;
  }
  #saludar{
    background-color: $color-blanco;
    font-size: large;
  }
