@import "_parcial";

body{
    background-color: $color-blanco;

}
.form-color {
    background-color: $color-marron;
  }
  .colour{
    background-color:$color-marron-light;
  }
  .btn-color{
    background-color:$color-verde;
  }
  #saludar{
    color: $color-blanco;
    font-size: large;
    
  }
  .datospersonales{
    background-color: $color-marron;
    // border-top-right-radius: 25%;
    // border-bottom-left-radius: 25%;
    border-radius: 10% 25%;
  }
.imagen{
  width: 70rem;
 
  margin: 0 auto;
 
  
}
  
 .foto{
  display: flex;
  margin: 0 auto;

  width: 50rem;
 }
 .construcion{
  font-size: 5rem;
  text-align: center;
 }

#imagen1{
  background-image: url("../img/pedido1.1.jpg");
 background-repeat: no-repeat;
  width: 10rem;
  height: 9rem;
  background-position: center;
  margin: 3rem;
}
#imagen2{
  background-image: url("../img/pedido2.jpg");
 background-repeat: no-repeat;
 background-size: contain;
  width: 10rem;
  height: 9rem;
  background-position: center;
}
#imagen3{
  background-image: url("../img/pedido3.jpg");
 background-repeat: no-repeat;
 background-size: contain;
  width: 10rem;
  height: 9rem;
  background-position: center;
}
.contenedor-ojo{
  position:relative
}
.ojo{
  position: absolute;
  top: 55%;
  right: 12px;
 
  
}
#ojo1{
  visibility: hidden;
}
#ojo3{
  visibility: hidden;
}

