@import "_parcial";

body{
    background-color: $color-blanco;

}
.form-color {
    background-color: $color-marron;
  }
  .colour{
    background-color:$color-marron-light;
  }
  .btn-color{
    background-color:$color-verde;
  }
  #saludar{
    color: $color-blanco;
    font-size: large;
    
  }
  .datospersonales{
    background-color: $color-marron;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
  }
 
  
