.circulo1 {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circulo1 {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circulo1 {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circulo1 {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circulo1 {
  background-color: blue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
